mjhtest-filter-panel {
  display: inline-block;
  position: fixed;
  width: 200px;
  z-index: 10;
}

mjhtest-graph {
  display: block;
  height: 30%;
  position: fixed;
  top: 70%;
  width: 100%;
}

mjhtest-info-panel {
  display: block;
  height: 70%;
  left: 70%;
  position: fixed;
  width: 20%;
}

mjhtest-map {
  display: block;
  height: 70%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 70%;
}
